<header>
    <div style="width:250px;">
        <img id="logo" src="https://i.ibb.co/PCpx2zy/logo2.png" alt="">
        <h2>
            paradise road
        </h2>
    </div>
    <nav>
        <menu>
            <menuitem id="demo1">
            <a href="#"><i class="fas fa-bars"></i></a>
            <menu>
                <!-- <menuitem><button id="reg">Register</button></menuitem> -->
                <!-- <menuitem><button id="signIn">Sign In</button></menuitem> -->
                <menuitem>
                <a>contact</a>
                <menu>
                    <menuitem><a>facebook</a></menuitem>
                    <menuitem><a>github</a></menuitem>
                    <menuitem><a>twitter</a></menuitem>
                </menu>
            </menu>
            </menuitem>
            </menuitem>
            <menuitem><a href="/" >Home</a></menuitem>
            <menuitem><a href="/user">Create a Trip</a></menuitem>
            <!-- <menuitem><button id="signIn">Sign In</button></menuitem> -->
            <menuitem><a href="/about">About</a></menuitem>
        </menu>
    </nav>
</header>
