<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:'home'}) %>

    <body>
        <%- include('partials/header') %>
            <!-- <main> -->
                <main id="userBody">

                    <div class="aboutlink">
                        <a href="#vision">Our Vision</a>
                        <a href="#story">Our Story</a>
                        <a href="#team">Our Team</a>
                        <!-- <a href="#top">Tilbage</a> -->
                    </div>

                    <div class="wrapwrap">
                        <div class="about">

                            <h1>Travelers</h1>
                            <!-- <p> -->
                            
                            <!-- </p> -->

                        </div>
                    </div>

                    <div id="vision" class="aboutinfo">
                        <div>
                            <h1>Our Vision</h1>
                            <p>
                                We made this website to make it easier to anyone wants to travel to have all the information
                                they might need so your trip is made with no errors.
                            </p>
                        </div>
                    </div>
                    <div id="story" class="aboutinfo">
                        <div>
                            <h1>Our Story</h1>

                            <!-- <h2>2 timer om ugen</h2> -->
                            <p>
                                We were planning on having a trip to Europe, but the fact that none of us went there before and we couldn't figure where will we stay, and which restaurants will be available, and what activities we might do.
                                Sadly we couldn't find anything online that provide us with these information, and we canceled the trip.
                                So as a coding team we decided to make a website that gives the people planning to travel all the information they need to have a great trip, and this website came to life. 
                            </p>

                            <!-- <h2>Roskilde - FoodJam</h2>
                            <p>
                                Er arrangeret af Madkulturen som er en afdeling under Landbrug og fødevarer.
                                Der er vist kun et sted man tager dertil for at være frivillig
                                - Det er selvfølgeligt Roskilde ;)
                                Jeg tog med første gang i 2015 fordi jeg går meget op i hvad jeg spiser og da min
                                kæreste læser sundhed og ernæring så synes hun det lige var noget for mig.
                                Konceptet går ud på at man selv laver sin egen mad for en sølle 50,- så skal man lave
                                mad med en Kulinarisk-vejleder som så kunne være eksempelvis mig.
                                Vi er alle uddannet til netop dette på et weekend kursus i københavn. Så fedt og
                                lærerigt, ikke nok med det så er det 90% piger nice.
                                Det er jo det næstbedste efter den gode sunde mad som desuden er 90%-100% økologisk!
                                <br />
                                Jatak økologisk guldmærke! Ses vi igen i 2016, det tror jeg nok vi gør!
                            </p>

                            <h2>Coding pirates</h2>
                            <p>
                                Dette her er så mit næste frivillig projekt. Den lokale leder fra Fablab, Ana utrolig
                                sød dame har henvendt sig og spurgt om vi ikke ville køre nogle workshops i Vejle for de
                                unge børn så de kan lære lidt basic css og html og det kan jeg da ihvertfald.
                                <br />
                                Måske du skal med?
                            </p> -->
                        </div>
                    </div>

                    <div id="team" class="aboutinfo">
                        <div id="team-container">
                            
                            <span>
                                <h1>Our Team</h1>
                            </span>

                            
                            <span id="team-cards">

                                <span class="about-cards">
                                    <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
                                    <h2>Hisham Khalil</h2>
                                </span>
                                <span class="about-cards">
                                    <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
                                    <h2>Alaa Al_Hamdan</h2>
                                </span>
                                <span class="about-cards">
                                    <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
                                    <h2>Zakeyah Abu yasein</h2>
                                </span>
                                <span class="about-cards">
                                    <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
                                    <h2>Mohammad Ashour</h2>
                                </span>
                                <span class="about-cards">
                                    <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
                                    <h2>Raneem Abdulazeez</h2>
                                </span>
                                
                            </span>
                        </div>
                    </div>
                </main>
            <!-- </main> -->
            <%- include('partials/footer') %>
    </body>

</html>