<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:'home'}) %>
<body>
    <%- include('partials/header') %>
    <div id="slider">slider</div>
    <div>
        <img src="" alt="">
        <form action="/reg">
            <fieldset>
                <label for="userName">user name</label>
                <input type="text" name="userName" placeholder="user name">
            </fieldset>
            <fieldset>
                <label for="passWord">pass word</label>
                <input type="text" name="passWord" placeholder="pass word">
            </fieldset>
        </form>
    </div>
    <template id="templet" type="text/x-tmpl-mustache">
        <img src="{{image}}" alt="" width="350px" height="350px">
            <h5>{{quotation}}</h5>
    </template>
    <div id="container">
        <div id="left"  class="card">
            
        </div>
        <div  id="middle" class="card">

        </div>
        <div id="right" class="card"></div>
        <!-- <div class="card">card4</div>
        <div class="card">card5</div>
        <div class="card">card6</div> -->
    </div>
    <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="/js/homeapp.js"></script>
</body>
</html>