<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:'home'}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div id="serachDiv">
                    <form action="" style="position: relative;">
                        <input class="searchInp" type="text" placeholder="From:">
                        <input class="searchInp" type="text" placeholder="To:">
                        <input class="searchInp" type="date" placeholder="First Day">
                        <input class="searchInp" type="date" placeholder="Last Day"><br>
                        <button id="searchBtu">Search</button>
                    </form>
                </div>
                <div id="resultDiv">
                    <div clas="resData">hotels
                        <div id="hotelemp">
                            <img src="http://uat.multimediarepository.testing.amadeus.com/cmr/retrieve/hotel/3A7CE6B4EF7C42F08A0920E17A1B1377"
                                alt="">
                            <p>name: W London - Leicester Square</p>
                            <div>
                                <p>
                                    description: Step into the spotlight. Experience the glitz and glamour of red carpet
                                    premieres in the heart of London's entertainment district, where celebrities and
                                    influencers mix it up and Hollywood makes international headlines. All just a short
                                    stroll from Soho. Mix and mingle over sumptuous brunch
                                </p>
                            </div>
                            <p>rate: 5</p>
                            <p>contact: +44 20 7758 1000</p>
                            <p>prcice: 300.00 GBP</p>
                            <label for="choose">choose
                                <input type="checkbox" name="choose">
                            </label>
                        </div>
                    </div>
                    <div clas="resData">resturants</div>
                    <div clas="resData">touristic</div>
                </div>
                <div></div>
            </main>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="https://unpkg.com/mustache@latest"></script>
            <script src="/js/app.js"></script>
            <%- include('partials/footer') %>
    </body>

</html>