<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:'home'}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div id="serachDiv">
                    <form action="" style="position: relative;">
                        <input class="searchInp" type="text" placeholder="From:">
                        <input class="searchInp" type="text" placeholder="To:">
                        <input class="searchInp" type="date" placeholder="First Day">
                        <input class="searchInp" type="date" placeholder="Last Day"><br>
                        <button id="searchBtu">Search</button>
                    </form>
                </div>
                <div class="resData">
                    <div style="height: fit-content;margin-top: 20px;">
                        <p>
                            hotels
                        </p>
                    </div>
                    <div class="hotelemp">
                        <img class="hotelImg" src="http://uat.multimediarepository.testing.amadeus.com/cmr/retrieve/hotel/3A7CE6B4EF7C42F08A0920E17A1B1377"
                            alt="">
                        <p class="hotelpara">name: W London - Leicester Square</p>
                        <div class="hotelpara" style="text-align: left;">
                            <p>
                                description: <br> Step into the spotlight. Experience the glitz and glamour of red carpet
                                premieres in the heart of London's entertainment district, where celebrities and
                                influencers mix it up and Hollywood makes international headlines. All just a short
                                stroll from Soho. Mix and mingle over sumptuous brunch
                            </p>
                        </div>
                        <p class="hotelpara">rate: 5</p>
                        <p class="hotelpara">contact: <br> +44 20 7758 1000</p>
                        <p class="hotelpara">prcice: 300.00 GBP</p>
                        <label class="hotelbtu" for="choose">choose
                            <input type="checkbox" name="choose" id="choose">
                        </label>
                    </div>
                    <div class="hotelemp">
                        <img class="hotelImg" src="http://uat.multimediarepository.testing.amadeus.com/cmr/retrieve/hotel/3A7CE6B4EF7C42F08A0920E17A1B1377"
                            alt="">
                        <p class="hotelpara">name: W London - Leicester Square</p>
                        <div class="hotelpara" style="text-align: left;">
                            <p>
                                description: <br> Step into the spotlight. Experience the glitz and glamour of red carpet
                                premieres in the heart of London's entertainment district, where celebrities and
                                influencers mix it up and Hollywood makes international headlines. All just a short
                                stroll from Soho. Mix and mingle over sumptuous brunch
                            </p>
                        </div>
                        <p class="hotelpara">rate: 5</p>
                        <p class="hotelpara">contact: <br> +44 20 7758 1000</p>
                        <p class="hotelpara">prcice: 300.00 GBP</p>
                        <label class="hotelbtu" for="choose">choose
                            <input type="checkbox" name="choose" id="choose">
                        </label>
                    </div>
                </div>
            </main>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="https://unpkg.com/mustache@latest"></script>
            <script src="/js/app.js"></script>
            <%- include('partials/footer') %>
    </body>

</html>