<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:'home'}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div id="login-container">

                    <form id="login-form">
                        <fieldset>


                            <input class="loginInput" type="text" placeholder="User Name">
                            <br>
                            <br>
                            <br>
                            <input  class="loginInput" type="password" placeholder="Passowrd">
                            <br>
                            <br>
                            <br>
                            <button id="login-button" type="submit">Login</button>




                        </fieldset>


                    </form>









                </div>







            </main>

            <%- include('partials/footer') %>
        


    </body>


    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


</html>